.sub-titles{
    font-family:sans-serif;
    text-transform:uppercase;
    letter-spacing:5pt;
    font-size: 25px;
    line-height:1.6em;
    font-weight: bolder;
}
.divider{
    border-bottom: 3px solid #150303;
    width:120px;
    line-height:1em;
    align-content: center;
    justify-content: center;
}